
@font-face {
  font-family: 'Tokyo-Outline';
  src: url('Tokyo-Outline.eot?#iefix') format('embedded-opentype'),  url('Tokyo-Outline.otf')  format('opentype'),
	     url('Tokyo-Outline.woff') format('woff'), url('Tokyo-Outline.ttf')  format('truetype'), url('Tokyo-Outline.svg#Tokyo-Outline') format('svg');
  font-weight: normal;
  font-style: normal;
}
